body
{
background-image:url('images/background2.jpg');
background-repeat:no-repeat;
background-position:center;
background-color:#000000;
/* background-attachment:fixed; */
font-family:Arial, Helvetica, sans-serif;
color:#ffffff;
}
.nav {
	color:#999;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:20px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:24px;
	
}
.navA {
	text-decoration:none;
}
.content {
	text-indent:40px;
	font-size:18px;
	padding-right:10px;
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	
}
.priceHead {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 23px;
}
.priceMore {
	font-weight:800;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#c13a34; /*8e3a34;*/
	text-shadow: 1px 1px #222;
}
.priceTail {
	padding-top:4px;
	font-weight:800;
	
	font-size: 48px;
	color:#c13a34; /*8e3a34;*/
	text-shadow: 2px 2px #000;
}
.priceMoreX {
	padding-top:12px;
}
.contentTable {
	background-image: url('images/content_bg.png');
	background-repeat: no-repeat;
	background-position: bottom;
	
	padding-bottom:10px;
	padding-top:50px;
}


html, body {
	height: 100%;
	margin:0;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 30px; /* .push must be the same height as .footer */
}

a:visited { color: #999; }
a:active  { color: #999; }
a:hover   { color: #999; }
a         { color: #999; }

.copywrite {
	font-family:Arial, Helvetica, sans-serif;
	color:#999;
	font-size:12px;
}

