@charset "UTF-8";


#audio-container {
	max-width:360px;
	height:30px;
	padding:160px 188px;
	margin:0 auto;
	background:url(lib/light.png) 0 8px;
}

#video-container {
	max-width:640px;
	margin:0 auto 160px;
	padding:0 40px 8px;
	background:url(lib/shadow.png) 0 352px no-repeat;
}
