body {
    background-image:url('/images/background.png');
    background-repeat:repeat;
    /* -moz-box-shadow:    inset 0 -3px 90px -3px #000000;
    -webkit-box-shadow: inset 0 -3px 90px -3px #000000;
    box-shadow:         inset 0 -3px 90px -3px #000000; */
    padding: 0;
    margin: 0;
    width:100%;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    color: #333;
}

#wrapper {
    -moz-box-shadow:    inset 0 -3px 90px -3px #000000;
    -webkit-box-shadow: inset 0 -3px 90px -3px #000000;
    box-shadow:         inset 0 -3px 90px -3px #000000;
    width:100%;
    height:100%;
    overflow-y: scroll;
}
#header {
    margin:auto;
    width:1000px;
    height:100px;
    padding-top: 14px;
}
#logo {

    background-image:url('/images/logo_mu-z.png');
    background-repeat: none;
    height:100px;
    width:342px;
    float:left;
}

.giantm {
    height: 838px;
    background-image:url('/images/mstrip3.jpg');
    background-repeat:no-repeat;
    background-position:-0px 0;
}

#icons {
    height:100px;
    float:right;
}
.icons {
    margin:27px 0px 0px 17px;
    border: 0px;
    height: 40px;
}

#nav {
    margin:auto;
    margin-top:10px;
    height:50px;
    width:1000px;
}
.nav1 {
    float:left;
}
.nav2 {
    margin-left: 95px;
    float:left;
}

.navimg {
    height: 32px;
}

#content {
    margin:auto;
    width: 1100px;
}

div {
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

#copyright {
    margin: auto;
    font-size: 11px;
    margin-top: 50px;
    width:300px;
    height:30px;
}

a {
    color: #007700;
    text-decoration: underline;
}
a:hover {
    color: #007700;
}

a:visited {
    color: #007700;
}

.radioshow {
    margin-top:30px;
}
.radioshow h3 {
    font-weight: bold;
}

.rowshow_info {
    margin-top: 20px;
}

.trackname {
    padding-left:20px;
}

table {
    font-size:11px;
}
